services:
  postgres:
    build:
      context: .
      dockerfile: Dockerfile
      target: postgres
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_USER: ${PSQL_USER}
      POSTGRES_PASSWORD: ${PSQL_PASSWORD}
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8"
      POSTGRES_DB: postgres
    ports:
      - "5332:5432"
    networks:
      - postgres
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5

  rest-service:
    container_name: service
    build:
      context: .
      dockerfile: Dockerfile
      target: service
    ports:
      - "8080:8080"
    environment:
      - PSQL_USER=${PSQL_USER}
      - PSQL_PASSWORD=${PSQL_PASSWORD}
      - PSQL_HOST=postgres
      - PSQL_PORT=5432
      - PSQL_DB=postgres
      - REST_HOST=0.0.0.0
      - REST_PORT=8080
    networks:
      - postgres
    
networks:
  postgres:
    driver: bridge

volumes:
  postgres:
    driver: local
    name: postgres_data
    driver_opts:
      type: none
      device: ${POSTGRES_VOLUME_PATH}
      o: bind