services:
  postgres:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /data/postgres
      POSTGRES_DB: bank
    volumes:
      - postgres:/data/postgres
    ports:
      - "5332:5432"
    networks:
      - postgres
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5

  rest-service:
    container_name: service
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    
networks:
  postgres:
    driver: bridge

volumes:
  postgres:
    driver: local
    name: postgres_data
    driver_opts:
      type: none
      device: ${POSTGRES_VOLUME_PATH}
      o: bind